[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-environ = "*"
drf-yasg = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
collectstatic = "python ./backend/manage.py collectstatic"
